/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-textarea {
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    border: var(--input-border, none);
    padding: var(--input-padding, 0);
    resize: none;
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-textarea::placeholder {
    color: var(--input-placholder-color, #666666);
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-textarea:disabled {
    color: var(--input-color-disabled, #8f8f8f);
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-textarea:read-only {
    color: var(--input-color-readonly, inherit);
}

/*noinspection CssInvalidHtmlTagReference*/
prx-textarea:active, prx-textarea:focus {
    outline: none;
}