/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-input {
    box-sizing: border-box;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: 1rem;
    border: var(--input-border, none);
    padding: var(--input-padding, 0);
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-input::placeholder {
    color: var(--input-placholder-color, #666666);
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-input:disabled {
    color: var(--input-color-disabled, #8f8f8f);
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-input:read-only {
    color: var(--input-color-readonly, inherit);
}

/*noinspection CssInvalidHtmlTagReference*/
prx-input:active, prx-input:focus {
    outline: none;
}
/*noinspection CssInvalidHtmlTagReference*/
prx-input::-webkit-inner-spin-button,
prx-input::-webkit-outer-spin-button,
prx-input::-webkit-clear-button,
prx-input::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    margin: 0;
}
/*noinspection CssInvalidHtmlTagReference*/
prx-input[type=number] {
    -moz-appearance: textfield;
}
