.box {}

.root {
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    &[type='number'] {
        -moz-appearance: textfield;
    }

    &[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
    }
}

.root[data-full=true] {
    width: 100%;
}