/*noinspection CssUnresolvedCustomProperty,CssInvalidFunction,CssInvalidHtmlTagReference*/
prx-button {
    display: inline-flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: var(--button-padding, 0.5rem 1rem);
    border-radius: var(--button-radius, 0.25rem);
}

/*noinspection CssInvalidHtmlTagReference */
prx-button:disabled {
    cursor: default;
}

/*noinspection CssInvalidHtmlTagReference */
prx-button[data-full=true] {
    width: 100%;
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-button[data-vx=fill] {
    background-color: var(--button-surface, #0062d0);
    color: var(--button-color, #fff);

    /*noinspection CssUnresolvedCustomProperty*/
    &:disabled {
        background-color: var(--button-surface-disabled, #e0e0e0);
        color: var(--button-color-disabled, #bdbdbd);
    }

    /*noinspection CssUnresolvedCustomProperty*/
    &:not(:disabled):hover {
        background-color: var(--button-surface-hover, #004491);
    }
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-button[data-vx=line] {
    outline: 0.0625rem solid var(--button-border, #0062d0);
    background-color: var(--button-surface, transparent);
    color: var(--button-color, #0062d0);

    /*noinspection CssUnresolvedCustomProperty*/
    &:disabled {
        outline-color: var(--button-border-disabled, #e0e0e0);
        color: var(--button-color-disabled, #bdbdbd);
    }

    /*noinspection CssUnresolvedCustomProperty*/
    &:not(:disabled):hover {
        outline-color: var(--button-border-hover, #004491);
        color: var(--button-color-hover, #004491);
    }
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidHtmlTagReference*/
prx-button[data-vx=text] {
    color: var(--button-color, #0062d0);
    background-color: transparent;

    /*noinspection CssUnresolvedCustomProperty*/
    &:disabled {
        color: var(--button-color-disabled, #bdbdbd);
    }

    /*noinspection CssUnresolvedCustomProperty*/
    &:not(:disabled):hover {
        color: var(--button-color-hover, #004491);
    }
}