.form {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.form[data-open=false] {
    & > .box {
        display: none;
    }
}

.form[data-open=true] {
    & > .box {
        display: flex;
        flex-flow: column nowrap;
    }
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidFunction*/
.box {
    position: absolute;

    top: var(--select-top, calc(100% + 0.125rem));
    left: var(--select-left, 0);
    right: var(--select-right, 0);

    background-color: var(--select-box-surface, #242424);
    border-radius: var(--select-box-radius, 0.25rem);
    outline: 0.0625rem solid var(--select-box-border, #666666);
    z-index: 1;
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidFunction*/
.field {
    padding: var(--select-field-padding, 0.25rem 0.5rem);
    background-color: var(--select-field-surface, #242424);
    border-radius: var(--select-field-radius, 0.25rem);
    outline: 0.0625rem solid var(--select-field-border, #666666);
}

/*noinspection CssUnresolvedCustomProperty,CssInvalidFunction*/
.placeholder {
    color: var(--select-placeholder-color, #666);
}

.item {}